.profile{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1)!important;
}
.profile_Header{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(175, 174, 174) 20%,white 50%);
    width: 100%;
    height: fit-content;
    box-shadow: 0px 2px 3px 2px rgba(0, 0,0, 0.01);
    overflow: auto;

}
.profile_Header>h1{
 text-align: center;
 font-size: 2.3em;
 text-transform: capitalize;
 font-weight: bold;
}
.profile_Header>.Add_Bio{
    text-align: center;
    margin-left: 49%;
    font-size: 18px;
    cursor: pointer;
    color: rgb(128, 185, 231);
}
.profile_body{
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.1)!important;
}
