.header{
    display: flex;
    flex: 1;
    padding: 9px 9px;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 100;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0, 0.75);
}
.header_left{
    display: flex;
    flex:0.25;
    justify-content: space-evenly;
}
.header_left>img{

    width: 40px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 100%;
    margin-left: -67%;
}
.header_search{
    
    

    cursor: pointer;
    width: 40px;
    margin-top: 10px;
    margin-left: -67%;
    display: flex;
}
.header_input{
    display: flex;
    flex: 0.2;
    
    
    align-items: center;

    background-color: #eef1f7c7;
    padding: 10px;
    width: 18.6%;
    margin-left: -10%;
    border-radius:33px;
}
.header_input>.MuiSvgIcon-root{
    font-size: 1.8em;
}
.header_input>input{
    border: none;
    background-color: transparent;
    outline-width: 0;
    font-size: 1.2em;
    font-weight: medium;
    color: grey;
}
.dropDown{
    display: flex;
    align-items: center;
margin-top: 3%;
background-color: rgb(236, 157, 11) !important;
height: fit-content;
width: 33%;
margin-left: 110%;
position: relative;

}
#list{
    list-style: none;
    margin: 10px;
    background-color: blue;
}
#id{
    color: brown;
}
.header__option--Active{
    fill: blue;
}
.header__center{
    display: flex;
    flex: 0.25;
    justify-content: center;

}
.header__option{
    display: flex;
    margin: auto;
    align-items: center;
    width: 100px;
    cursor: pointer ;

}

.header__option:hover {
    
    background-color: #eff2f5;

    margin: auto;   
    width: 101px;
    cursor: pointer ;

}


.header__option>.MuiSvgIcon-root{
    color: gray;
    font-size: 3em;
    justify-content: center;

}
.header__option--Active>.MuiSvgIcon-root:active{
    color: #2e81f4;
}
.header__option>.MuiSvgIcon-root:hover{
    color: #2e81f4;

}
.header__info{
    display: flex;
    flex: 0.25;
    align-items: center;

}
.header__info>h4{
    margin-left: 10px;
    text-transform: capitalize;
}
.header__right{
    display: flex;
    flex: 0.25;
    cursor: pointer;
}
.header__right >.MuiSvgIcon-root{
    font-size: 5em;
}
.header__Active:active{
    color: #2e81f4;
    background-color: #eff2f5;
    justify-content: center;
    border-radius: 25px;
    width: 200px;
}
.header__Active{
    color: #2e81f4;
    background-color: #eff2f5;
    justify-content: center;
    border-radius: 25px;
    width: 200px;
}

.Expend_active:active{
    color: blue;
}
.header__right .Profile_img{
    object-fit: contain;
    border-radius: 100%;
}
.MuiAvatar-circle{
    border-radius: 100%;
}
.mix{
    background:transparent !important;
    z-index:1;
}

._8Met{
    background-color: white;
    width: 300px;
    height: 480px;
    background-size: cover;
    box-sizing: border-box;
    border: 1px solid #eff2f5;
    border-radius: 7px;
    box-shadow: 6px 7px 9px -7px rgba(187, 186, 186, 0.75);
    margin-top: 5%;
    margin-left: 75%;
}
._8Met ._8Ret{
    display: flex;
    padding: 16px 0px 20px;
    color: black;
    margin: 20px;
}
._8Ret>h1{
    text-transform: capitalize;
}
._8Met ._8Ret:hover{
    cursor: pointer;
}
.para {
    margin-top: -15%;
    margin-left: 20%;
    font-size: medium;
    color: gray;
}
.a{
    font-size: large;
    font-weight: bold;

}
._8Ket{
    border: 1px solid #eff2f5!important;
    border-radius: 6px;
    margin-top: 25px;
}
._8Met ._8Jet{
    display: flex;
    
    padding: 16px 0px 20px;
    margin-left: 30px;
}
._8Met ._8Jet:hover{
    cursor: pointer;
}
._8Jet >._8Let{
    
    background-color:rgb(247, 242, 242);
    background-size: cover;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    margin-left: -10px;
}
._8Let>.MuiSvgIcon-root{
    position: relative;
    align-items: center;
    margin-top: 25%;
    margin-left: 25%;
    width: 20px;
    height: 20px;
}
h1{
    font-size: 15px
}

._8Jet >h3{
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
.para1{
    color: gray;
    margin-top: -35px;
    margin-left: 65px;
}
._8Aet{
    border: 2px solid #eff2f5!important;
    border-radius: 6px;
    margin-top: 25px;
}
li{ display: flex;
    list-style: none !important;
    
}

ul{
    display: inline-flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: -14px;
}
ul:hover{

    
    cursor: pointer;

}
._8Cet{
    background-color:#eff2f5;
    background-size: cover;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    margin-left: 30px;   
}
._8Cet>.MuiSvgIcon-root{
    position: relative;
    align-items: center;
    margin-top: 25%;
    margin-left: 25%;
    width: 20px;
    height: 20px;
}
._BTet{
    margin-bottom: 10%;
    text-decoration: none !important;
}
._BTet::after{
    color: black !important;
}
._BTet>h3{

margin-top: 15px;
margin-left: 5px;
text-align: center;
font-size: small;
display: flex;
text-decoration: none !important;
}
