.messageSender{
    display: flex;
    margin-top: 30px;
    margin-left: 30%;
    flex-direction: column;
    
    background-color: white;
    border-radius: 5px;

    
    box-shadow: 8px 5px 7px -7px rgba(0,0,0,0.02);
    width: 100%;
    max-width: 550px;
}
.messageSender__top{
display: flex;
border-bottom:1px solid #eff2f5 ;
/*padding-bottom: 15px;*/
padding: 15px;

}
.messageSender__top>form{
    flex: 1;
    display: flex;
}
.messageSender__top>form>input{
    outline-width: 0;
    border: none !important;
    
    

    background-color: #eff2f5;
}
.messageSender__top>form>input:hover{
   border: none !important;
   outline: none;
}
.messagesender__input{
    border: none !important;
    margin-left: 10px;
}
.messageSender__File_Selecion{
    
    width: 25%;
    
    
}
.messageSender__top>form>button{
    height: 0;
    width: 0;
    background-color: transparent;
    border: none;
}
.messagesender__input{
    flex: 1;
}
.messageSender__bottom{
    display: flex;
    justify-content: space-between;

}
.messageSender__option{
    display: flex;
    align-items: center;
    color: gray;
    margin: 1px;
    cursor: pointer;
}
.messageSender__option>h4{
font-size: medium;
}
@media only screen and (max-width: 800px) {
.messageSender
    {
      
        width: fit-content;
        max-width: 410px;
        
    }
    
    
    
       
}
@media only screen and (max-width: 500px) {
    .messageSender
        {
          
            
          
            width: fit-content;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            
        }
    .messageSender__top{
        display: flex;
        
    
}
    .messagesender__input{
        display: flex;
        flex-direction: column;
        margin-left:-18px;
        width: 20%;
    }
    .messagesender__imgae{
        display: flex;
        flex-direction: column;
        width: 20%;
    }
    .messageSender__bottom{
        width: 12px;
        margin-left: -20px;
    }
   
        
    
        
        
           
    }
    @media only screen and (max-width: 400px) {
        .messageSender
            {
              
                
              
                width: -moz-fit-content;
              
                
              
                width: fit-content;
                max-width: 310px;
                display: flex;
                flex-direction: column;
                
            }
        .messageSender__top{
            display: flex;
           
            
        
    }
        .messagesender__input{
            display: flex;
            
           
            width: 20px;
        }
        .messagesender__imgae{
            display: flex;
            flex-direction: column;
            width: 20px;
        }
        .messageSender__bottom{
            font-size: xx-small;
            display: flex;
            flex-direction: column;
            margin-left: -10px;
            width: -12px
        }
        .messageSender__option{
             font-size: xx-small;
            width: 12px;
            margin-left:30px;
            
        }
       
            
        
            
            
               
        }
    
    