.post{
    width: fit-content;
    height: fit-content;
    margin-top:15px ;
    margin-left: 30%;
    max-width: 550px;
    width:100%;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
    box-shadow: 8px 5px 7px -7px rgba(0,0,0,0.02);

}
.post__Avatar{
    margin-right: 10px;
}
.post__top{
    display: flex;
    flex: 1;
    margin-top: 2px;
    
    
}
.PGET{
    margin-left: 10%;
    margin-top: 3%;
cursor: pointer;
}
.post__topInfo{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post__image{
    width: 100%;
    height: 150px;
    border: none !important;
}
.post__image>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: none !important;
}
.post__topInfo>p{
    
    font-size: small;
    color: gray;
    
}
.post__middle{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.post__bottom{
    padding-top: 10px;
    border-top: 1px lightgrey;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}
.Line{
    border-top: 1px solid rgb(218, 215, 215);
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}
.post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
    cursor: pointer;
}
.post__option>p{
    margin-left: 10px;
}
.post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}
.post__option__active::after{
    width: 100%;
    height: 90px;
}
.post__commentBox{
    display: flex;
    margin-top: auto;
}
.post__input{
    width: 100%;
    border: none !important;
    border-radius: 5px;
    outline-width: 0;
    border-radius:33px;
    margin-left: 10px;
    background-color: rgb(253, 249, 249) !important;


}
.time{
    font-size: small;
}
.post__comment{


    width: 100%;
   margin: auto;
}

.post__comment>p{
    margin-left: 10px;
}
.post__comment>.button{
    margin-top: 2px;
    min-width: 0;
    margin-left: 7px;
    color:#2e81f4;
    cursor: pointer;
}
.post__comment>.time{
    font-size: xx-small;
    margin-left: 10px;
    
}

.post__button{
    display: none;
}