.post{
    width: fit-content;
    height: fit-content;
    margin-top:15px ;
    margin-left: 30%;
    max-width: 550px;
    width:100%;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
    box-shadow: 8px 5px 7px -7px rgba(0,0,0,0.02);
}
.post__Avatar{
    margin-right: 10px;
}
.post__top{
    display: flex;
    
    
    
}
.PGET{
    margin-left: 60%;
    margin-top: 3%;
}
.post__topInfo{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post__image{
    width: 350px;
}
.post__image>img{
    object-fit: contain;
    width: 100%;
    
}
.post__topInfo>p{
    
    font-size: small;
    color: gray;
}
.post__middle{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post__bottom{
    
    border-top: 1px lightgrey;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.Line{
    border-top: 1px solid rgb(218, 215, 215);
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}
.post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    float: 1;
    
}
.post__option>p{
    margin-left: 10px;
}
.post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}