.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer !important;
    color: #2e81f4;
    margin-left: -2px;
    width: 100%;

}
.sidebarRow:hover{
    background-color: lightgrey;
    width: 300px;
    height: 20px;
    color: #2e81f4;
    text-decoration: none !important;
    cursor: pointer;


}
.sidebarRow>.logo_Profile{
 margin-left: -1px;
 width: 25px;
 height: 25px;

 
}

.sidebarRow>p{
    margin-left: 10px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;

}

.sidebarRow>.MuiSvgIcon-root{
    font-size: 2em;
}