.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #2e81f4;
    margin-left: 5px;
    width: 100%;

}
.sidebarRow:hover{
    background-color: lightgrey;
    width: 300px;
    height: 20%;
    color: #2e81f4;


}
 .logo{
 margin-left: -6px;
 
}

.sidebarRow>p{
    margin-left: 1px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;

}

.MuiSvgIcon-root{
    font-size: 2em;
}