.sponser{
    display: flex;
}
.Sponser_Left{
    max-width: 400px;

}
.Sponer_img{
    width: 200px;
    height: 20px;
}
.Sponer_img >img{
    width: 90px;
}
.Sponser_title {
    display: flex;
    flex-direction:column;
    
    text-align: center;
    font-weight: bold;

}
h1{
    font-size: 30px;
}
.Sponser_link{
    margin-top: 20px;
    margin-left: -10%;
}